/*one by one carousel*/

.max_one_line_allow {
    -webkit-line-clamp: 1
  }
  
  .max_two_lines_allow {
    -webkit-line-clamp: 2
  }
  
  .max_three_lines_allow {
    -webkit-line-clamp: 3
  }
  
  .max_four_lines_allow {
    -webkit-line-clamp: 4
  }
  
  .max_five_lines_allow {
    -webkit-line-clamp: 5
  }
  .text_overflow {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    
  }
.container {
    margin: 0 auto;
    min-height: 0px !important;
    display: block !important;  
}
.carousel-showsixmoveone .single-video{}
.carousel-showsixmoveone .px-2{
    padding-left: .5rem!important;
    padding-right: .5rem!important;
}
.carousel-showsixmoveone .single-video .img-box{
    position:relative;
}
.carousel-showsixmoveone .single-video .img-box a{
    display: block;
}
.carousel-showsixmoveone .single-video .img-box a img{}
.carousel-showsixmoveone .single-video .img-box i{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    background: rgba(0, 0, 0, 0.58);
    padding: 7px 9px 6px 11px;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    font-size: 10px;
}
.carousel-showsixmoveone .single-video:hover .img-box i.fa-play{
    background: red;
}
.carousel-showsixmoveone .single-video h4{
    margin: 0px 0 4px 0;
    display: -webkit-box;
    max-height: 4.52rem;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    font-size: 1.65rem;
    font-weight: 500;
    line-height: 2rem;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 6px;
}
.carousel-showsixmoveone .single-video a{
    color: #fff;
}

.carousel-showsixmoveone .carousel-control {
    width: 36px;
    filter: alpha(opacity=50);
    height: 36px;
    border-radius: 100%;
    top: 30%;
    background-image: none!important;
    color: #d52e2e;
    opacity: 1;
}

.carousel-showsixmoveone .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    right: 40%!important;
    margin-top: -8px;
    font-size: 18px!important;
}
.carousel-showsixmoveone .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    left: 40%!important;
    margin-top: -8px;
    font-size: 18px!important;
}
.carousel-showsixmoveone .carousel-control.left {

}
.carousel-showsixmoveone .carousel-control.right {

}
.carousel-showsixmoveone .cloneditem-1,
.carousel-showsixmoveone .cloneditem-2,
.carousel-showsixmoveone .cloneditem-3,
.carousel-showsixmoveone .cloneditem-4,
.carousel-showsixmoveone .cloneditem-5 {
    display: none;
}
@media  all and (min-width: 768px) {
    .carousel-showsixmoveone .carousel-inner > .active.left,
    .carousel-showsixmoveone .carousel-inner > .prev {
        left: -33.333%;
    }
    .carousel-showsixmoveone .carousel-inner > .active.right,
    .carousel-showsixmoveone .carousel-inner > .next {
        left: 33.333%;
    }
    .carousel-showsixmoveone .carousel-inner > .left,
    .carousel-showsixmoveone .carousel-inner > .prev.right,
    .carousel-showsixmoveone .carousel-inner > .active {
        left: 0;
    }
    .carousel-showsixmoveone .carousel-inner .cloneditem-1,
    .carousel-showsixmoveone .carousel-inner .cloneditem-2 {
        display: block;
    }
}
@media  all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
    .carousel-showsixmoveone .carousel-inner > .item.active.right,
    .carousel-showsixmoveone .carousel-inner > .item.next {
        -webkit-transform: translate3d(33.333%, 0, 0);
        transform: translate3d(33.333%, 0, 0);
        left: 0;
    }
    .carousel-showsixmoveone .carousel-inner > .item.active.left,
    .carousel-showsixmoveone .carousel-inner > .item.prev {
        -webkit-transform: translate3d(-33.333%, 0, 0);
        transform: translate3d(-33.333%, 0, 0);
        left: 0;
    }
    .carousel-showsixmoveone .carousel-inner > .item.left,
    .carousel-showsixmoveone .carousel-inner > .item.prev.right,
    .carousel-showsixmoveone .carousel-inner > .item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        left: 0;
    }
}
@media  all and (min-width: 992px) {
    .carousel-showsixmoveone .carousel-inner > .active.left,
    .carousel-showsixmoveone .carousel-inner > .prev {
        left: -25%;
    }
    .carousel-showsixmoveone .carousel-inner > .active.right,
    .carousel-showsixmoveone .carousel-inner > .next {
        left: 25%;
    }
    .carousel-showsixmoveone .carousel-inner > .left,
    .carousel-showsixmoveone .carousel-inner > .prev.right,
    .carousel-showsixmoveone .carousel-inner > .active {
        left: 0;
    }
    .carousel-showsixmoveone .carousel-inner .cloneditem-3,
    .carousel-showsixmoveone .carousel-inner .cloneditem-4,
    .carousel-showsixmoveone .carousel-inner .cloneditem-5 {
        display: block;
    }
}
@media  all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
    .carousel-showsixmoveone .carousel-inner > .item.active.right,
    .carousel-showsixmoveone .carousel-inner > .item.next {
        -webkit-transform: translate3d(33.33%, 0, 0);
        transform: translate3d(33.33%, 0, 0);
        left: 0;
    }
    .carousel-showsixmoveone .carousel-inner > .item.active.left,
    .carousel-showsixmoveone .carousel-inner > .item.prev {
        -webkit-transform: translate3d(-33.33%, 0, 0);
        transform: translate3d(-33.33%, 0, 0);
        left: 0;
    }
    .carousel-showsixmoveone .carousel-inner > .item.left,
    .carousel-showsixmoveone .carousel-inner > .item.prev.right,
    .carousel-showsixmoveone .carousel-inner > .item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        left: 0;
    }
}
.video-first{
    background: #b30f0f;
    padding: 20px;
    position: relative;
}
.video-first::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    background: #b30f0f;
}

.video-first .catTitle .liner::before,
.video-first .catTitle .liner::after {
    border-top: 6px solid #fff;
}
.video-first .catTitle > a {
    background: #b30f0f;
    color: #fff;
    padding-left: 40px;
}
.video-first .single-video-first {
    position: relative;
}
.video-first .single-video-first .img-box{
    position: relative;
}
.video-first .single-video-first .img-box i{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    background: rgba(0, 0, 0, 0.58);
    padding: 10px 15px 10px 18px;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    font-size: 12px;
}
.video-first .single-video-first:hover .img-box i{
    background: red;
}
.video-first .single-video-first .img-box a{}
.video-first .single-video-first h4{
    line-height: 1.42;
}
.video-first .single-video-first h4 a{
    color: #fff;
}

.video-others{
    padding: 20px 0;
}
.video-others .catTitle > a{
    color: #fff;
}
/*one by one carousel*/


.special-arr-carousel-section{
    background: #000;
    padding: 20px 0 0px 0;
}
.special-arr-carousel-section .single-block .meta {
    border-top: 1px solid #2c2c2c;
    background: #3c3c3c;
}
.special-arr-carousel-section .single-block .meta .tags a:hover {
    color: #fff!important;
}
.special-arr-carousel-section .single-block {
    background: #343434;
}
.special-arr-carousel-section .single-block a {
    color: #f1f1f1;
}
.special-arr-carousel-section .single-block:hover h3 a {
    color: #f85454;
}
.special-arr-carousel-section .catTitle a {
    background: transparent;
    color: #fff!important;
}
.special-arr-carousel-section .catTitle .liner::before {
    border-top: 8px solid #c00;
    top: 12px;
}
.special-arr-carousel-section .catTitle .liner::after {
    border-top: 8px solid #c00;
    top: 23px;
}
.special-arr-carousel-section .carousel-control {
    width: 60px;
    filter: alpha(opacity=50);
    background-color: #b30f0f;
    opacity: 0.85;
    height: 60px;
    border-radius: 100%;
    top: calc(50% - 35px);
    background-image: none!important;
}
.special-arr-carousel-section .carousel-control:hover {
    opacity: 1;
}
.special-arr-carousel-section .carousel-control.right {
    right: -30px!important;
}
.special-arr-carousel-section .carousel-control.left {
    left: -30px!important;
}
.special-arr-carousel-section .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    right: 43%!important;
    margin-top: -13px;
    font-size:26px!important;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    left: 43%;
    margin-top: -13px;
    font-size:26px!important;
}

/* video-media css */
.video-gallery{
    background: #121212!important;
    overflow:hidden;
}

.video-others .catTitle .liner::before,
.video-others .catTitle .liner::after {
    border-top: 6px solid #b30f0f;
}
.video-gallery .video-media{
    background: #3c3c3c;
    padding: 5px 0;
}
.video-gallery .video-media .media{
    margin: 0;
    padding: 5px 10px;
}
.video-gallery .video-media .media:hover{
    background: #242424;
}
.video-gallery .video-media .media .media-left{
    width: 100px;
}
.video-gallery .video-media .media .media-left a{
    position:relative;
    display: block;
    width: 100px;
}
.video-gallery .video-media .media .media-left img{
    width:100%;
}
.video-gallery .video-media .media .media-body {}
.video-gallery .video-media .media .media-body h4{
    margin: 0 0 4px 0;
    display: -webkit-box;
    max-height: 5.2rem;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.6rem;
    color: #fff;
}
.video-gallery .video-media .media .media-body a{
    color: #fff;
}
.video-gallery .video-media .media-left i.fa-play{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    background: rgba(0, 0, 0, 0.58);
    padding: 7px 9px 6px 11px;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    font-size: 10px;
}
.video-gallery .video-media .media:hover .media-left i.fa-play{
    background: red;
}


/*===| Pulse Classess |===*/
.pulse {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    box-shadow: 0 0 0 rgb(255, 255, 255);
    animation: pulse 2s infinite;
    margin-right: 3px;
}
.pulse:hover {
    animation: none;
}

@-webkit-keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgb(255, 255, 255);
        box-shadow: 0 0 0 0 rgb(255, 255, 255);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(255, 27, 29, 0);
        box-shadow: 0 0 0 10px rgba(255, 27, 29, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 27, 29, 0);
        box-shadow: 0 0 0 0 rgba(255, 27, 29, 0);
    }
}
@keyframes  pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgb(255, 255, 255);
        box-shadow: 0 0 0 0 rgb(255, 255, 255);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(255, 27, 29, 0);
        box-shadow: 0 0 0 10px rgba(255, 27, 29, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 27, 29, 0);
        box-shadow: 0 0 0 0 rgba(255, 27, 29, 0);
    }
}


.pinkBg {
    background-color: #fff!important;
    background-image: linear-gradient(90deg, #fff, #fff);
}
.intro-banner-vdo-play-btn {
    height: 10px;
    width: 10px;
    position: absolute;
    top: 13px;
    left: 13px;
    border-radius: 100px;
}

.intro-banner-vdo-play-btn .ripple {
    position: absolute;
    width: 40px;
    height: 40px;
    left: -15px;
    top: -15px;
    opacity: 0;
    border-radius: 100px;
    -webkit-animation: ripple 1.8s infinite;
    animation: ripple 1.8s infinite;
}

@-webkit-keyframes ripple{
    0%{
        opacity:1;
        -webkit-transform:scale(0);
        transform:scale(0)
    }
    100%{
        opacity:0;
        -webkit-transform:scale(1);
        transform:scale(1)
    }
}
@keyframes  ripple{
    0%{
        opacity:1;
        -webkit-transform:scale(0);
        transform:scale(0)
    }
    100%{
        opacity:0;
        -webkit-transform:scale(1);
        transform:scale(1)
    }
}
.intro-banner-vdo-play-btn .ripple:nth-child(2){
    animation-delay:.3s;
    -webkit-animation-delay:.3s
}
.intro-banner-vdo-play-btn .ripple:nth-child(3){
    animation-delay:.6s;
    -webkit-animation-delay:.6s
}