@font-face {
    font-family: 'SolaimanLipiNormal';
    src: url('https://s3-ap-southeast-1.amazonaws.com/images.jagonews24/common/fonts/solaimanlipi_20-04-07.eot');
    src: url('https://s3-ap-southeast-1.amazonaws.com/images.jagonews24/common/fonts/solaimanlipi_20-04-07.eot') format('embedded-opentype'),
    url('https://s3-ap-southeast-1.amazonaws.com/images.jagonews24/common/fonts/solaimanlipi_20-04-07.woff') format('woff'),
    url('https://s3-ap-southeast-1.amazonaws.com/images.jagonews24/common/fonts/solaimanlipi_20-04-07.ttf') format('truetype'),
    url('https://s3-ap-southeast-1.amazonaws.com/images.jagonews24/common/fonts/solaimanlipi_20-04-07.svg') format('svg');
}

body,h1,h2,h3,h4,h5,h6,p,textarea{font-family:"Helvetica Neue", Helvetica, Arial, SolaimanLipi ,sans-serif,SolaimanLipiNormal;}